<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome, {{userName}} to the {{ currentTitle }}!</h1>
  <form>
    <input [(ngModel)]="userName" type="text" name="user">
  </form>

  <h1>{{currentDrink}}</h1>
  <ul>
    <div *ngFor="let currentDrink of drinks">
      <p>{{currentDrink.name}}</p>
      <p>{{currentDrink.brand}}</p>
      <p [class]="priceColor(currentDrink)">${{currentDrink.price}}</p>
      <p [class]="levelColor(currentDrink)">{{currentDrink.alcoholContent}}%</p>
      <h3>Pints: {{currentDrink.pints}}</h3>
      <button class="btn btn-primary"(click)="editDrink(currentDrink)">Edit!</button>
      <button class="btn btn-primary"(click)="pourDrink(currentDrink)">Take a Drink</button>
    </div>
  </ul>

  <div>
    <h3>Order a keg</h3>
    <label>Name: </label>
    <input [(ngModel)]="orderedKeg.name" name="name">
    <br>
    <label>Brand: </label>
    <input [(ngModel)]="orderedKeg.brand" name="brand">
    <br>
    <label>Price: </label>
    <input [(ngModel)]="orderedKeg.price" name="price">
    <br>
    <label>Alcohol Content: </label>
    <input [(ngModel)]="orderedKeg.alcoholContent" name="alcohol">
    <br>
    <label>Pints: </label>
    <input [(ngModel)]="orderedKeg.pints" name="pints">
    <br>
    <button class="btn btn-primary"(click)="addKeg(name, brand, price, alcohol, pints)">Add a new keg!</button>
  </div>

  <div *ngIf="selectedDrink">
    <h3>{{selectedDrink.name}}</h3>
    <h3>Edit Drink</h3>
    <label>Enter Drink:</label>
    <input [(ngModel)]="selectedDrink.name">
    <label>Change Price:</label>
    <input [(ngModel)]="selectedDrink.price">
    <button class="btn btn-primary"(click)="finishedEditing()">Done</button>
  </div>
</div>
